app:
  wiremock:
    base-url: http://localhost:8081
  jwt:
    secret: "insurance-application-jwt-secret-key-2026"
    expiration: 3600000

spring:
  application:
    name: insurance
  cache:
    caffeine:
      spec: expireAfterWrite=60s
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: Ov23liXOCZZOTDjSvGhC
            client-secret: 8dae7ef9c2ff6bbe9aa1ed69ffd96dc9aaaaced0
resilience4j:
  circuitbreaker:
    instances:
      wiremock:
        # percentage of failures needed to open the circuit
        failure-rate-threshold: 50
        # minimum number of calls before the circuit can open
        minimum-number-of-calls: 5
        # how long to wait before trying again (half-open)
        wait-duration-in-open-state: 10s
        # how many calls to allow in half-open state
        permitted-number-of-calls-in-half-open-state: 3